@{
    ViewData["Title"] = "About";
}

<br />
<h2>Personal Inforamtion</h2>
<br />

<p>Name: DHEMIE SOCO QUIBAN</p>
<p>Age: 25yrs. old</p>
<p>Date of Birth: March 28, 1995</p>
<p>Gender: Female</p>
<p>Religion: Catholic</p>
<p>Address: #821 Melchora Aquino St. Purok5 Brgy. Magsaysay San Pedro City Laguna, Philippines</p>

<br />
<p>Course Taken: Bachelor of Science in Information Technology</p>
